/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.customcont{
  background-color: #c5e1a5;
  padding : 1%;
}
h5{
  color: #000;
}

#option_area {
    box-sizing: border-box;
    border: 2px solid grey;
    float: left;
    padding-bottom : 5px;
}

.span_form{
 padding-left: 15px;
}
.switch {
  padding : 1 1;
}

#idconfirm {
    text-align : center;
  }

#btnConfirm {
  margin: 5px 0 0 5px;
}
.altback {
   background-color: #c5e1a5;
  padding : 1%;
}