body {
    background-attachment: fixed;
    background-image: url("wallpaperSite.jpg");
}

h1 {
	color: white ;
	font-weight: bold ;
	padding-top: 50px;
	text-align: center;
}
div {
	color: white;
	text-align: justify;
}

p {
	color: white;
	padding : 5% 20%;
	text-align: center;
}

.divregistered { 

	color: white;
	padding-top: 10%;
	padding-right : 20%;
	padding-left : 20%;
	text-align: center;
 }

.container {
	padding-top: 10%;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	width: 500px; 
}
.question {

	color: black;
	text-align: center;
	text-transform: uppercase;

}

.divperso {
	border: 5px solid white;
	box-sizing: border-box;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 320px;
	text-align: center;
	width: 320px;
}

.navbar-nav > li:hover {
    background-color: black;
}

.poll {
  color : black;
  padding : 10px;
 	background-color: #95c2e5;
 	padding-left: 50px;
 	width: auto;
 	height: auto
}

input[type="checkbox"]{
	margin-right : 10px;
}
