	body{
	    background-image: url("wallpaperSite.jpg");
	    background-attachment: fixed;
	}
	
	h1 {
	color 	: white ;
	font-weight	: bold ;
	text-align	: center;
	padding-top : 50px;
	
	}
	div {
	color : white;
	text-align	: center;
	}

	p {
	padding-top: 100px;
	padding-right: 500px;
    padding-left: 500px;
	color : white;
	text-align	: center;
	
	}

	.container {
	padding-top: 100px;
	}

	.divperso {
	text-align	: center;
  	color : white;
    box-sizing: border-box;
    width: 320px;
    padding: 320px;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
	}

	.navbar-nav > li:hover{
    background-color: black;
}